{% import 'macro/svg.html' as SVG %}
{% import 'macro/oops.html' as OOPS %}
<!-- 业务页面代码 -->
{% if Count > 0 and Results|length > 0 %}
  <div class="page-body">
    <div class="container-sm" >
      <div class="d-grid" id="media_cards">
        {% for Title, Item in Results.items() %}
          <div class="card bg-transparent border-0">
            <div class="ribbon g-cyan d-md-none">
              <a class="text-white" href="javascript:show_search_filter_modal('{{ Item.key }}')">
                {{ SVG.filter() }}
              </a>
            </div>
            {% if Item.fav == "2" %}
            <div class="badge badge-pill bg-green d-md-none" style="position:absolute;top:20px;right:50px;padding:0;">
              {{ SVG.check() }}
            </div>
            {% endif %}
            <div class="card-body ps-1 pe-1">
              <div class="row">
                <div class="col-2 ps-3 d-none d-md-block" id="search_results_filter_{{ Item.key }}" style="max-width: 15rem">
                  <!-- 图片 -->
                  {% if Item.poster %}
                    <normal-card
                        card-tmdbId="{{ Item.tmdbid }}"
                        card-mediatype="{{ Item.type }}"
                        card-showSub="1"
                        card-image="{{ Item.poster }}"
                        card-fav="{{ Item.fav }}"
                        card-vote="{{ Item.vote }}"
                        card-year="{{ Item.year }}"
                        card-title="{{ Item.title }}"
                        card-overview="{{ Item.overview }}"
                        card-restype="{{ Item.type }}"
                      ></normal-card>
                  {% endif %}
                  <!-- 标题 -->
                  <div class="row">
                    <div class="col">
                      <h2 class="mb-0">
                        <strong>{{ Title }}</strong>
                      </h2>
                    </div>
                  </div>
                  <!-- 媒体属性 -->
                  <div class="row mt-2 d-md-none">
                    <div class="col-md">
                      {% if Item.tmdbid and Item.tmdbid != '0' %}
                      <div class="list-inline list-inline-dots mb-0 text-muted">
                        <div class="list-inline-item">
                          {{ SVG.video() }}
                          {{ Item.type }}
                        </div>
                        <div class="list-inline-item">
                          {{ SVG.star() }}
                          {{ Item.vote or '暂无评分' }}
                        </div>
                        <div class="list-inline-item">
                          {{ SVG.info_circle() }}
                          <a href="{% if Item.type == '电影' %}https://www.themoviedb.org/movie/{{ Item.tmdbid }}{% else %}https://www.themoviedb.org/tv/{{ Item.tmdbid }}{% endif %}" target="_blank">{{ Item.tmdbid }}</a>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <!-- 简介 -->
                  {% if Item.overview %}
                  <div class="text-muted mt-2 d-none d-md-block">
                    {{ Item.overview}}
                  </div>
                  {% endif %}
                </div>
                <div class="col">
                  <!-- 过滤条件 -->
                  {% if Item.filter.season %}
                  <div class="form-selectgroup form-selectgroup-pills mb-1">
                    <div class="subheader m-2">季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    {% for filter_season in Item.filter.season %}
                    <label class="form-selectgroup-item">
                      <input type="checkbox" name="filter_season" value="{{ filter_season }}" class="form-selectgroup-input"
                        onclick="filter_medias(this, '{{ Item.key }}')">
                      <span class="form-selectgroup-label" style="padding:0.2375em 0.75em;">{{ filter_season }}</span>
                    </label>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <br>

                  <div class="form-selectgroup form-selectgroup-pills mb-1">
                    <div class="subheader m-2">站点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    {% for filter_site in Item.filter.site %}
                    <label class="form-selectgroup-item">
                      <input type="checkbox" name="filter_site" value="{{ filter_site }}" class="form-selectgroup-input"
                        onclick="filter_medias(this, '{{ Item.key }}')">
                      <span class="form-selectgroup-label" style="padding:0.2375em 0.75em;">{{ filter_site }}</span>
                    </label>
                    {% endfor %}
                  </div>
                  <br>

                  <div class="form-selectgroup form-selectgroup-pills mb-1">
                    <div class="subheader m-2">促销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    {% for filter_free in Item.filter.free %}
                    <label class="form-selectgroup-item">
                      <input type="checkbox" name="filter_free" value="{{ filter_free.value }}" class="form-selectgroup-input"
                        onclick="filter_medias(this, '{{ Item.key }}')">
                      <span class="form-selectgroup-label" style="padding:0.2375em 0.75em;">{{ filter_free.name }}</span>
                    </label>
                    {% endfor %}
                  </div>
                  <br>

                  <div class="form-selectgroup form-selectgroup-pills mb-1">
                    <div class="subheader m-2">分辨率&nbsp;&nbsp;&nbsp;</div>
                    {% for filter_respix in Item.filter.respix %}
                    <label class="form-selectgroup-item">
                      <input type="checkbox" name="filter_respix" value="{{ filter_respix }}" class="form-selectgroup-input"
                        onclick="filter_medias(this, '{{ Item.key }}', true)">
                      <span class="form-selectgroup-label" style="padding:0.2375em 0.75em;">{{ filter_respix }}</span>
                    </label>
                    {% endfor %}
                  </div>
                  <br>

                  <div class="form-selectgroup form-selectgroup-pills mb-1">
                    <div class="subheader m-2">质量&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    {% for filter_restype in Item.filter.restype %}
                    <label class="form-selectgroup-item">
                      <input type="checkbox" name="filter_restype" value="{{ filter_restype }}" class="form-selectgroup-input"
                        onclick="filter_medias(this, '{{ Item.key }}', true)">
                      <span class="form-selectgroup-label" style="padding:0.2375em 0.75em;">{{ filter_restype }}</span>
                    </label>
                    {% endfor %}
                  </div>
                  <br>

                  {% if Item.filter.video %}
                  <div class="form-selectgroup form-selectgroup-pills mb-1">
                    <div class="subheader m-2 ">视频编码</div>
                    {% for filter_video in Item.filter.video %}
                    <label class="form-selectgroup-item">
                      <input type="checkbox" name="filter_video" value="{{ filter_video }}" class="form-selectgroup-input"
                        onclick="filter_medias(this, '{{ Item.key }}')">
                      <span class="form-selectgroup-label" style="padding:0.2375em 0.75em;">{{ filter_video }}</span>
                    </label>
                    {% endfor %}
                  </div>
                  <br>

                  {% endif %}
                  <!-- 种子列表 -->
                  {% for torrent in Item.torrent_list %}
                    <div class="list-group-item p-1 search_results_torrent"
                      data-site="{{ torrent.site }}"
                      data-releasegroup="{{ torrent.releasegroup or '未知' }}"
                      data-respix="{{ torrent.respix or '未知分辨率' }}"
                      data-restype="{{ torrent.restype or '未知媒介' }}"
                      data-free="{{ torrent.uploadvalue|string + ' ' + torrent.downloadvalue|string }}"
                      data-video="{{ torrent.video_encode }}"
                      data-group="{{ group_key }}"
                      data-season="{{ torrent.sekey }}">
                      <input type="hidden" id="title_{{ torrent.id }}" value="{{ torrent.torrent_name }}">
                      <input type="hidden" id="description_{{ torrent.id }}" value="{{ torrent.description }}">
                      <input type="hidden" id="site_{{ torrent.id }}" value="{{ torrent.site }}">
                      <div class="row g-2 align-items-center">
                        {% if torrent.site|hash in SiteDict and SiteDict[torrent.site|hash] is not none %}
                        <div class="col-auto">
                          <a  href="{{ torrent.pageurl }}" target="_blank">
                            <span class="avatar avatar-sm rounded siteicon-{{ torrent.site|hash }} siteicon-{{ SiteDict[torrent.site|hash].id }}"
                                  style="overflow: hidden;">
                            </span>
                          </a>
                        </div>
                        {% endif %}
                        <div class="col">
                            <a href='javascript:download_search_resource("{{ torrent.id }}")'>
                            {{ torrent.torrent_name }}
                          </a>
                          <span style="color:green; font-weight: 500">&nbsp;&nbsp;{{ UPCHAR }}{{torrent.seeders}}</span>

                          {% if Item.tmdbid == '0' or not Item.tmdbid %}
                          <a class="ms-2 mb-1" title="名称测试" href='javascript:nametest("{{ torrent.id }}")' data-bs-toggle="tooltip">
                            {{ SVG.text_recognition() }}
                          </a>
                          {% endif %}
                          <div class="mb-1">
                            {% for label in torrent.labels %}
                              <span class="badge badge-outline text-purple">{{ label }}</span>
                            {% endfor %}
                            <span class="text-muted">{{ torrent.description or '' }}</span>
                          </div>
                          <div>
<!--                            <span class="badge bg-black text-dark-fg mb-1">{{ torrent.site }}</span>-->
                            {% if torrent.video_encode %}
                            <span class="badge text-white bg-orange mb-1">{{ torrent.video_encode }}</span>
                            {% endif %}
                            {% if torrent.reseffect %}
                              <span class="badge text-white bg-purple mb-1">{{ torrent.reseffect }}</span>
                            {% endif %}
                            {% if torrent.size %}
                              <span class="badge text-white bg-yellow mb-1">{{ torrent.size }}</span>
                            {% endif %}
                            {% if torrent.releasegroup %}
                              <span class="badge text-white bg-cyan mb-1">{{ torrent.releasegroup }}</span>
                            {% endif %}
                            {% if torrent.respix %}
                              <span class="badge text-white bg-cyan mb-1">{{ torrent.respix }}</span>
                            {% endif %}
                            {% if torrent.restype %}
                              <span class="badge text-white bg-cyan mb-1">{{ torrent.restype }}</span>
                            {% endif %}
                            {% if torrent.uploadvalue != 1.0 %}
                            <span class="badge text-white bg-azure mb-1">{{ (torrent.uploadvalue * 100) | int }}%UL</span>
                            {% endif %}
                            {% if torrent.downloadvalue != 1.0 %}
                              {% if torrent.downloadvalue == 0.0 %}
                                <span class="badge text-white bg-lime mb-1">FREE</span>
                              {% else %}
                                <span class="badge text-white bg-indigo mb-1">{{ (torrent.downloadvalue * 100) | int }}%DL</span>
                              {% endif %}
                            {% endif %}
                          </div>
                          {% if Item.tmdbid == '0' or not Item.tmdbid %}
                          <custom-chips class="mt-1" id="testresults_{{ torrent.id }}"></custom-chips>
                          {% endif %}
                        </div>
                        <div class="col-auto ms-2 d-none d-md-inline-block">
                          <a href='javascript:download_search_resource("{{ torrent.id }}")' class="link-secondary" title="下载">
                            {{ SVG.download() }}
                          </a>
                        </div>
                        <div class="col-auto lh-1 ms-2 d-none d-md-inline-block">
                          <div class="dropdown">
                            <a href="#" class="link-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                              {{ SVG.dots() }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" style="">
                              {% if torrent.enclosure and torrent.enclosure.startswith('http') %}
                              <a class="dropdown-item" href="{{ torrent.enclosure }}" target="_blank">
                                下载种子文件
                              </a>
                              {% endif %}
                              <a class="dropdown-item" href="{{ torrent.pageurl }}" target="_blank">
                                查看种子详情
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
{{ OOPS.empty('没有搜索结果', '输入想看的电影、电视剧名称，点击搜索试试看吧。') }}
{% endif %}
<!-- 搜索结果过滤弹窗 -->
{% for Title, Item in Results.items() %}
<div class="modal modal-blur fade" id="search-filter-modal-{{ Item.key }}" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">过滤: {{ Title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col" id="search_results_filter_{{ Item.key }}_modal">
            <!-- 过滤条件 -->
            {% if Item.filter.season %}
            <div class="subheader mb-2 mt-2">季</div>
            <div class="form-selectgroup form-selectgroup-pills">
              {% for filter_season in Item.filter.season %}
              <label class="form-selectgroup-item">
                <input type="checkbox" name="filter_season" value="{{ filter_season }}" class="form-selectgroup-input"
                  onclick="filter_medias(this, '{{ Item.key }}', true)">
                <span class="form-selectgroup-label">{{ filter_season }}</span>
              </label>
              {% endfor %}
            </div>
            {% endif %}
            <div class="subheader mb-2 mt-3">站点</div>
            <div class="form-selectgroup form-selectgroup-pills">
              {% for filter_site in Item.filter.site %}
              <label class="form-selectgroup-item">
                <input type="checkbox" name="filter_site" value="{{ filter_site }}" class="form-selectgroup-input"
                  onclick="filter_medias(this, '{{ Item.key }}', true)">
                <span class="form-selectgroup-label">{{ filter_site }}</span>
              </label>
              {% endfor %}
            </div>
            <div class="subheader mb-2 mt-3">质量</div>
            <div class="form-selectgroup form-selectgroup-pills">
              {% for filter_restype in Item.filter.restype %}
              <label class="form-selectgroup-item">
                <input type="checkbox" name="filter_restype" value="{{ filter_restype }}" class="form-selectgroup-input"
                  onclick="filter_medias(this, '{{ Item.key }}', true)">
                <span class="form-selectgroup-label">{{ filter_restype }}</span>
              </label>
              {% endfor %}
            </div>
            <div class="subheader mb-2 mt-3">分辨率</div>
            <div class="form-selectgroup form-selectgroup-pills">
              {% for filter_respix in Item.filter.respix %}
              <label class="form-selectgroup-item">
                <input type="checkbox" name="filter_respix" value="{{ filter_respix }}" class="form-selectgroup-input"
                  onclick="filter_medias(this, '{{ Item.key }}', true)">
                <span class="form-selectgroup-label">{{ filter_respix }}</span>
              </label>
              {% endfor %}
            </div>
            <div class="subheader mb-2 mt-2">促销</div>
            <div class="form-selectgroup form-selectgroup-pills">
              {% for filter_free in Item.filter.free %}
              <label class="form-selectgroup-item">
                <input type="checkbox" name="filter_free" value="{{ filter_free.value }}" class="form-selectgroup-input"
                  onclick="filter_medias(this, '{{ Item.key }}', true)">
                <span class="form-selectgroup-label">{{ filter_free.name }}</span>
              </label>
              {% endfor %}
            </div>
            {% if Item.filter.video %}
            <div class="subheader mb-2 mt-2">视频编码</div>
            <div class="form-selectgroup form-selectgroup-pills">
              {% for filter_video in Item.filter.video %}
              <label class="form-selectgroup-item">
                <input type="checkbox" name="filter_video" value="{{ filter_video }}" class="form-selectgroup-input"
                  onclick="filter_medias(this, '{{ Item.key }}', true)">
                <span class="form-selectgroup-label">{{ filter_video }}</span>
              </label>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" onclick="reset_filter(this, '{{ Item.key }}', true)">重置</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script type="text/javascript">

  // 计算各分组的种子数量
  function sub_group_total(group, key, se) {
    let total_obj = $(`#search_results_group_total_${group}_${key}_${se}`)
    let current_num = parseInt(total_obj.text());
    if (current_num < 1) {
      current_num = 1;
    }
    total_obj.text(current_num-1);
    if (current_num===1) {
      $(`#search_results_accordion_item_${group}_${key}_${se}`).hide();
    }
  }

  // 执行过滤
  function filter_do(key, modal) {
    let filter_obj;
    if (modal) {
      filter_obj = `#search_results_filter_${key}_modal`;
    } else {
      filter_obj = `#search_results_filter_${key}`;
    }
    $(`.search_results_torrent`).each(function () {
      $(this).show();
    });
    // 过滤站点
    let filter_sites = select_GetSelectedVAL("filter_site");
    // 过滤制作组
    let filter_releasegroups = select_GetSelectedVAL("filter_releasegroup");
    // 过滤质量
    let filter_restypes = select_GetSelectedVAL("filter_restype");
    // 过滤分辨率
    let filter_respixs = select_GetSelectedVAL("filter_respix");
    // 过滤促销
    let filter_frees = select_GetSelectedVAL("filter_free");
    // 过滤编码
    let filter_videos = select_GetSelectedVAL("filter_video");
    //过滤剧集
    let filter_seasons = select_GetSelectedVAL("filter_season");
    // 有过滤则展开，无过滤则收起
    // if (filter_sites || filter_free || filter_video|| filter_releasegroup || filter_respix || filter_restype) {
    //   $(`${torrent_obj} .accordion-button`).each(function () {
    //     $(this).removeClass("collapsed");
    //   });
    //   $(`${torrent_obj} .accordion-collapse`).each(function () {
    //     $(this).addClass("show");
    //   });
    // } else {
    //   $(`${torrent_obj} .accordion-button`).each(function () {
    //     $(this).addClass("collapsed");
    //   });
    //   $(`${torrent_obj} .accordion-collapse`).each(function () {
    //     $(this).removeClass("show");
    //   });
    // }
    // 执行过滤
    if (filter_sites.length > 0) {
      $(".search_results_torrent").each(function () {
        if (filter_sites.indexOf($(this).attr("data-site")) === -1) {
          if ($(this).is(":visible")) {
            sub_group_total($(this).attr("data-group"), key, $(this).attr("data-season"));
            $(this).hide();
          }
        }
      });
    }
    if (filter_releasegroups.length > 0) {
      $(`.search_results_torrent`).each(function () {
        if (filter_releasegroups.indexOf($(this).attr("data-releasegroup")) === -1) {
          if($(this).is(":visible")){
            sub_group_total($(this).attr("data-group"), key, $(this).attr("data-season"));
            $(this).hide();
          }
        }
      });
    }
    if (filter_restypes.length > 0) {
      $(`.search_results_torrent`).each(function () {
        if (filter_restypes.indexOf($(this).attr("data-restype")) === -1) {
          if($(this).is(":visible")){
            sub_group_total($(this).attr("data-group"), key, $(this).attr("data-season"));
            $(this).hide();
          }
        }
      });
    }
    if (filter_respixs.length > 0) {
      $(`.search_results_torrent`).each(function () {
        if (filter_respixs.indexOf($(this).attr("data-respix")) === -1) {
          if($(this).is(":visible")){
            sub_group_total($(this).attr("data-group"), key, $(this).attr("data-season"));
            $(this).hide();
          }
        }
      });
    }
    if (filter_frees.length > 0) {
      $(`.search_results_torrent`).each(function () {
        if (filter_frees.indexOf($(this).attr("data-free")) === -1) {
          if($(this).is(":visible")){
            $(this).hide();
            sub_group_total($(this).attr("data-group"), key, $(this).attr("data-season"));
          }
        }
      });
    }
    if (filter_videos.length > 0) {
      $(`.search_results_torrent`).each(function () {
        if (filter_videos.indexOf($(this).attr("data-video")) === -1) {
          if($(this).is(":visible")) {
            $(this).hide();
            sub_group_total($(this).attr("data-group"), key, $(this).attr("data-season"));
          }
        }
      });
    }

    if (filter_seasons.length > 0) {
      $(`.search_results_torrent`).each(function () {
        let season = $(this).attr("data-season").split(" ")[0];
        if (filter_seasons.indexOf(season) === -1) {
          if($(this).is(":visible")) {
            $(this).hide();
          }
        }
      });
    }
  }

  // 过滤媒体展示
  function filter_medias(obj, key, modal) {
    // 当前项未选中则选中,已选中则取消选中
    // check_selectgroup_raido(obj)
    // 开始过滤
    filter_do(key, modal);
  }

  // 重置过滤条件
  function filter_reset() {
    // 过滤站点
    select_SelectALL(false, "filter_site");
    // 过滤促销
    select_SelectALL(false, "filter_free");
    // 过滤编码
    select_SelectALL(false, "filter_video");
    //过滤剧集
    select_SelectALL(false, "filter_season");
  }

  // 重置过滤条件
  function reset_filter(obj, key, modal) {
    filter_reset()
    // 开始过滤
    filter_do(key, modal);
  }

  // 显示过滤器弹窗
  function show_search_filter_modal(key) {
    $(`#search-filter-modal-${key}`).modal("show");
  }

  //下载按钮
  function download_search_resource(id) {
    const title = $(`#title_${id}`).val();
    const site = $(`#site_${id}`).val();
    show_download_modal(id, `【${site}】${title}`, site)
  }

  //名称测试
  function nametest(id) {
    let title = $(`#title_${id}`).val();
    let subtitle = $(`#description_${id}`).val();
    media_name_test(title, `testresults_${id}`, function () {}, subtitle);
  }

</script>
